body {
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: gray;
}

#enemyHand {
    display: flex;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

#playerHand {
    display: flex;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
}

p {
    margin: auto;
}

#enemyDiscards {
    display: flex;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

#playerDiscards {
    display: flex;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

#playerDrawnTile {
    margin: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

#playerCalledTiles {
    margin: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}